<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/dropdown.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bartzee</title>
</head>


<body>
    <%- include('partials/header', {user: user, count: count, search: null, msg: msg}); %>

        <br>
        <div style="text-align: right; padding-right: 20px;">
            <a href="/history/<%= user._id %>"><b><i class="fa fa-history" aria-hidden="true"></i>&nbsp;
                View history</b></a>
        </div>
        <h1>ITEMS TO SELL</h1>
        <hr style="width: 80%; margin:auto;">
        <br>

        <% for (var i in sellItems) { %>
            <% if (sellItems[i].orderStatus < 2) { %>
                <div class="card" style="height: 190px; width: 80%; margin:auto; padding: 5px; border-color: orange;">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="data:image/<%= sellItems[i].image.contentType%>;base64,
                <%=sellItems[i].image.data.toString('base64')%>" class="img-fluid rounded-start"
                                style="height:170px; width: 170px; " alt="...">
                        </div>
                        <div class="col-1" style="width: 30px;">
                            <div class="d-flex" style="height: 90%;">
                                <div class="vr"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <% var item=Number(i) + 1; %>
                                    <small class="text-muted">Item # <%= item %></small>
                                    <h5 class="card-title" style="text-transform: capitalize;"><b>
                                            <%= sellItems[i].productName %>
                                        </b></h5>
                                    <p class="card-text" style="text-transform: capitalize;">Color: <%=
                                            sellItems[i].productColor %> <b>|</b> Size: <%= sellItems[i].productSize %>
                                                <b>|</b> Quantity: <%= sellItems[i].productQuantity %>
                                    </p>
                                    <p class="card-text">$ <%= sellItems[i].productPrice %>
                                    </p>
                                    <p class="card-text" style="text-transform: capitalize;"><small
                                            class="text-muted">Seller: <%= sellItems[i].sellerName %>,
                                                <%= sellItems[i].organization %></small></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="text-align: right;">
                                <small style="color:grey;">
                                    <% if (sellItems[i].orderStatus==1) { %>
                                        Waiting for confirmation....
                                        <% } %>
                                </small>
                            </div>

                            <div class="d-grid gap-2 d-md-block" style="text-align: right; margin-top: 110px;">
                                <a href="/review/<%= sellItems[i]._id %>">
                                    <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip"
                                        data-placement="top" title="View Product"><i class="fa fa-search"
                                            aria-hidden="true"></i></button>
                                </a>
                                <a href="/chatInterface/<%= sellItems[i]._id %>">
                                    <button class="btn btn-outline-secondary" id="chatBtn" type="button"
                                        data-toggle="tooltip" data-placement="top" title="Chat with buyer"><i
                                            class="fa fa-comments-o" aria-hidden="true"></i></button>
                                </a>

                                <a href="/editProduct/<%= sellItems[i]._id %>">
                                    <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip"
                                        data-placement="top" title="Edit Product Details"><i class="fa fa-edit"
                                            aria-hidden="true"></i></button>
                                </a>
                                <a href="/deleteItem/<%= sellItems[i]._id %>">
                                    <button class="btn btn-outline-secondary" type="button" onclick="deleteItem()"
                                        data-toggle="tooltip" data-placement="top" title="Delete Product"><i
                                            class="fa fa-trash" aria-hidden="true"></i></button>
                                </a>

                                <a href="/sellerOrderCompletion/<%= sellItems[i]._id %>">
                                    <% if (orders[i].orderStatus==1) { %>
                                    <button class="btn btn-outline-secondary" type="button
                                            data-toggle=" tooltip" data-placement="top" title="Finish Order" disabled><i
                                            class="fa fa-check" aria-hidden="true"></i></button>
                                    <% } else {%> 
                                        <button class="btn btn-outline-secondary" type="button
                                            data-toggle=" tooltip" data-placement="top" title="Finish Order"><i
                                            class="fa fa-check" aria-hidden="true"></i></button>
                                            <% } %>
                                </a>



                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <% } %>
                    <% } %>
                        <script>
                            function deleteItem() {
                                confirm("Are you sure you want to delete the item?");
                            }

                            $(document).ready(function () {
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>


</body>

</html>